@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Controle de Estoque</h1>
    <p class="lead">Controle o estoque de todas as academias de maneira fácil e ágil.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Controle de Alunos e academias</h3>
        <p>
            Mantenha uma lista completa de alunos por academia     
        </p>
    </div>
    <div class="col-md-4">
        <h3>Controle de vendas e produtos</h3>
        <p>Lançe as vendas efetuadas com a possibilidade de descontos e vendas para não-alunos. As vendas só serão efetuadas com provisionamento de estoque por academia</p>
        <p>Mantenha o catalogo de produtos com os seus respectivos preços de modo global.</p>
    </div>
    <div class="col-md-4">
        <h3>Controle de compras</h3>
        <p>Controle a demanda de compras de todas as academias.</p>
    </div>
</div>